:root {
    --white-color: hsl(0, 0%, 100%);
    --stone-color1: hsl(30, 54%, 90%);
    --stone-color2: hsl(30, 18%, 87%);
    --stone-color3: hsl(30, 10%, 34%);
    --stone-color4: hsl(24, 5%, 18%);
    --brown-color: hsl(14, 45%, 36%);
    --rose-color1: hsl(332, 51%, 32%);
    --rose-color2: hsl(330, 100%, 98%);
}

body {
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
    color: var(--stone-color3);
    line-height: 1.5em;
    background-color: var(--stone-color1);
    padding: 125px 30px;
    display: flex;
    justify-content: center;
}

#recipe-container {
    width: 650px;
    background-color: var(--white-color);
    padding: 40px;
    border-radius: 30px;
}

#recipe-container img {
    width: 100%;
    border-radius: 15px;
}

.main-heading {
    font-family: 'Young Serif', serif;
    font-weight: 400;
}

.main-heading:not(h1) {
    color: var(--brown-color);
    font-size: 1.8em;
}

#recipe-container h1 {
    font-size: 2.6em;
    color: var(--stone-color4);
    margin: 45px 0 32px;
}