:root {
    --white-color: hsl(0, 0%, 100%);
    --stone-color1: hsl(30, 54%, 90%);
    --stone-color2: hsl(30, 18%, 87%);
    --stone-color3: hsl(30, 10%, 34%);
    --stone-color4: hsl(24, 5%, 18%);
    --brown-color: hsl(14, 45%, 36%);
    --rose-color1: hsl(332, 51%, 32%);
    --rose-color2: hsl(330, 100%, 98%);
}

body {
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
    color: var(--stone-color3);
    line-height: 1.5em;
    background-color: var(--stone-color1);
    padding: 120px 30px;
    display: flex;
    justify-content: center;
}

#recipe-container {
    width: 650px;
    background-color: var(--white-color);
    padding: 40px;
    border-radius: 30px;
}

#recipe-container img {
    width: 100%;
    border-radius: 15px;
}

.main-heading {
    font-family: 'Young Serif', serif;
    font-weight: 400;
}

.main-heading:not(h1) {
    color: var(--brown-color);
    font-size: 1.8em;
    margin-top: 38px;
}

#recipe-container h1 {
    font-size: 2.5em;
    color: var(--stone-color4);
    margin: 45px 0 32px;
}

#prep-time {
    margin: 32px 0;
    background-color: var(--rose-color2);
    padding: 10px 26px;
    border-radius: 12px;
}

#prep-time h2 {
    color: var(--rose-color1);
    font-size: 1.25em;
}

#prep-time ul, #ingredients ul, #instructions ol {
    padding-left: 22px;
}

#prep-time li, #ingredients li, #instructions li {
    margin-bottom: 9px;
    padding-left: 18px;
}

#prep-time li::marker {
    color: var(--rose-color1);
    font-size: 0.8em;
}

.bold-text {
    font-weight: 700;
}

#ingredients li::marker {
    color: var(--brown-color);
    font-size: 0.8em;
}

hr {
    border: var(--stone-color2) 1px solid;
    border-bottom: none;
    border-left: none;
    border-right: none;
    margin: 32px 0;
}

#instructions li::marker {
    color: var(--brown-color);
    font-weight: 700;
}